/* Layout
---------------------------------*/
@import url(//app.bamboohr.com/css/source-sans-pro.css);
*:not(#whosOut .fc_event) { 
	background-color: transparent !important;
	color: black !important; 
	text-shadow: none !important; 
	filter:none !important; 
	-ms-filter: none !important; 
} 
  a, a:visited { text-decoration: underline; }
  /*a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  /*pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  tr, img { page-break-inside: avoid; }*/
  img { max-width: 100% !important; }
  @page { margin: 0.5in; }
  /*p, h2, h3 { orphans: 3; widows: 3; }
  h1, h2, h3 { page-break-after: avoid; }*/
body,
#one-col:not(.main-mod),
#col-wrap,
#one-full{ 
	float: none !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
overflow: visible;
white-space:normal !important;
}
#below-nav{
	float:none;
}

#header h1 {
	width: 100%;
	font-weight: normal;
	padding: 0 0 2mm 0;
	border-bottom: 1px solid #cccccc;
	color: #000;
}


/* Typography
---------------------------------*/
body {  
text-align:left;
color: #000!important;
}
h1, h3, h4, h5, h6 { 
color: #000; 
} 


/* approx 21px*/ h1 {  font-size: 21pt; } 

/* approx 16px*/ h2 {  font-size: 16pt; } 

/* approx 14px*/ h3 {  font-size: 12pt; } 

/* approx 12px*/ h4 {  font-size: 12pt; }

/* approx 10px*/ h5 {  font-size: 10pt; }

#report-list h3 {
		border-bottom: 1px solid #ebebeb;
}

p {
	font-size: 10pt;
	line-height: 14pt;
	font-weight: normal;
}

ul {
	list-style: none;
}

dd,
dt, li {
	font-size: 10pt;
	margin: 0;
}

dt {
	font-weight: bold;
}

dd {
	font-weight: normal;
}

li strong { font-weight: normal; }

table {
	border-spacing:0;
	width: 100%!important;
}
table.edit-table,tr,td,th    { /*page-break-inside:avoid;*/ page-break-after:auto;  }
 thead { display:table-header-group }
 tfoot { display:table-footer-group }
#one-full{ width: 100% }
form table th{
	overflow: visible !important;
	white-space:pre-wrap !important;
}

table.employee-list {
border: 1px solid #CCCCCC;
}
table.employee-list th {
background:#F1F1ED;
}
table.employee-list th, table.employee-list td {
border-bottom:1px solid #CCCCCC;
padding:9px 5px 7px 15px;
text-align:left;
}
table.employee-list td {
		border-right:1px solid #CCCCCC;
}
/*CUSTOM
---------------------------------*/
#report-list {
	padding: 10px;
}
input[type="checkbox"],input[type="radio"]{display:inline-block!important;}
input[type="checkbox"] + label > span:first-child,
input[type="radio"] + label > span:first-child{
	display:none;
}
* img {
	/*height: 0;
	width: 0;
	position: absolute;*/
	display:none;
}

* img.chart , .google-chart img {
	width: inherit;
	height: inherit;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#emp-header-photo img,
#inside-header h1 img,
img.emp-pic,img.empPhoto {
  display:block;
}
#emp-header-info *{
  margin: 0;
}
#emp-header-photo,
#header h1{
margin-left:0
}
input[type='text'],textarea,select,
input[type='text']:focus,textarea:focus,select:focus{
	border: none;
background:#fff;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
}
select{
-moz-appearance: none;
-webkit-appearance: none;
appearance: none !important;
}
#below-nav{
  clear:both;
}
span.text-label{
  background: #fff;
  color: #000;
  text-shadow:none;
}
/* Hidden
---------------------------------*/
#manage-nav,
.numbers,
#search-box,
#navTabs,
#exports,
#feedback-btn,
.header-alert,
#headerSite,
#navMain,
#footer,
#nav-tabs,
#addLinks,
.btn,
#looping,
#content-nav,
.below-link,
#header-alert,
#emp-header-photo > span,
.deleteIcon,
body a#widget-tab,
a.history-modal,
#snapABug_Button,
#showLayout, #showLayout + img#layout,
#employee-comments #comment-0,
.breadcrumb,.tutorial-steps,.ui-datepicker ,.chzn-container{
	display: none!important;
	visibility: hidden;
}


/* Links
---------------------------------*/
a {
	color: #222;
	text-decoration: none;
}


.chzn-done{
    display: inline !important;
}