.ui-dialog .ui-dialog-titlebar {
    background: none repeat scroll 0 0 #fff	!important;
    border: medium none #AF2D2D;
    padding: 0.4em 1em;
    position: relative;
}
.ui-widget-header{
	color:#000 !important;
	padding: 17px 20px !important;
}
.ui-dialog {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.35);

}

.ui-widget-overlay{
    background: none repeat scroll 0 0 #EEEEEE;
    margin: 0 auto !important;
    opacity: 0.3;
    width: 100% !important;
}
.ui-dialog-title{
	-moz-user-select: none;
    float: left;
    font-size: 16px !important;
}
.ui-dialog .ui-dialog-content{
	background:#fff !important;
	border-top:1px solid #DDDDDD;
}
.customer-view-main{
	clear: both;
    float: left;
    font-size: 14px;
    padding: 10px;
    width: auto;
}
.dynamic-text{
	color:#af2d2d;
}
.dynamic-field {
    float: left;
    width: 120px;
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
}
.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{
	background-image:url(../images/ui-icons_469bdd_256x240.png) !important;
}
.customer-dailog-button{
	background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    color: #313131;
    font-size: 12px !important;
    line-height: 13px;
    margin: 10px;
    text-align: center;
}
.customer-dailog-button:hover{
	background: none repeat scroll 0 0 #af2d2d;
    border: 1px solid rgba(0, 0, 0, 0.2);

}
.dialoga-main-cont{
	height:210px;
}
.dialog-eidt-cont{
	height:200px;
}
.marg-spc{
	margin:0 0 0 -10px; 
}
.contact-popup-field input{
	margin: 0 0 0 10px !important;
    width: 212px !important;
}
.notes-heading{
	color: #AF2D2D;
    float: left;
    font-size: 18px;
    padding: 10px 0;
    width: 100%;
}
.notes-detail{
	color: #333333;
    float: left;
    font-size: 14px;
    line-height: 20px;
    padding: 0 5px 10px;
    width: 98%;
}
.dim_text{    
	color: #999999;
    font-size: 13px;
    padding: 0 5px 8px;
    width: 98%;
}

.update{
	background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    color: #313131;
    font-size: 12px !important;
    line-height: 13px;
    margin: 10px;
    text-align: center;
	font-weight: bold;
    padding: 6px 14px;
    text-decoration: none;
}
.update a{
	color:#313131;
}
.update a:hover{
	color:#fff;
	padding: 6px 14px;padding:6px 14px;
}
.update:hover{
	background: #af2d2d !important;
	color: #ffffff; 
	padding: 6px 14px;
	text-decoration: none;
}
.map-container{
	background-color: #E5E3DF;
    height: 400px;
    margin: 25px 0 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 992px;
}
.grid_data_row_odd a, .grid_data_row_even a {
    color: #af2d2d;
	text-decoration:none;
}
.grid_data_row_odd a:hover, .grid_data_row_even a:hover {
    color: #6B6B6B;
	text-decoration:underline;
}
.customer-dtl-logo{
	float:right;
}
.customer-dtl-logo img{
	border: 5px solid #FFFFFF;
    height: 170px;
    width: 170px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.back-main {
    float: right;
    margin: -129px 6px 0 0;
}
.grid-data-contnet {
    color: #6B6B6B;
    font-size: 12px;
    font-weight: normal;
}
.crt-btn{
	float: left;
    margin: 9px 0 12px;
    padding: 0;
}
.crt-btn .update{
	margin:0;
}
.n-customer{
	background-image:url(../images/icons/n-cus.png);
	background-repeat:no-repeat;
	width:52px;
	height:52px;
	display:block;
}
.ex-customer{
	background-image:url(../images/icons/ex-cus.png);
	background-repeat:no-repeat;
	width:52px;
	height:52px;
	display:block;
}
.crt-cust{
	width:150px;
}
.customer-main{
	margin: 0 auto;
    padding: 0;
    text-align: center;
}
.customer-main li{
    -webkit-box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.12);
	-o-box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.12);
	box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.12);
    display: inline-block;
	padding:8px;
    margin: 20px 15px;
    text-align: center;
    width: 150px;
}
.customer-main li a {
	font-size:14px;
	color:#af2d2d;
	font-weight:bold;
}
.customer-main li img {
    width: 150px;
    height: 150px;
    float: left;
}